<!--
	Hunter Culler and Ian Anderson
	University of Colorado Denver CSCI 4800 E01
	Web Application Developement
	Group Assignment 3

	March 31st, 2021

	Status = Functional
-->

<div class="container mt-4 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="feed p-2">
                <div class="row">
                    <div class="post">
                        <div class="post header">
                            <img src="/images/avatar.png" alt="Avatar" class="avatar">
                        </div>
                        <div class="post content">
                            Hello Everyone!
                        </div>
                        <div class="post entry">
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <input type="text" id="txtComment" name="txtComment" class="form-control" placeholder="Comment here">
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-primary">Comment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="post">
                        <div class="post header">
                            <img src="/images/avatar.png" alt="Avatar" class="avatar">Zach Meyers
                        </div>
                        <div class="post content">
                            Going camping this weekend, who wants to go?
                        </div>
                        <div class="post comment">
                            <img src="/images/avatar.png" alt="Avatar" class="post comment avatar">Hunter Culler
                            <div class="post comment text">Sounds good!</div>
                        </div>
                        <div class="post comment">
                            <img src="/images/avatar.png" alt="Avatar" class="post comment avatar">Dillon Clark
                            <div class="post comment text">Can't make it, have fun!</div>
                        </div>
                        <div class="post entry">
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <input type="text" id="txtComment" name="txtComment" class="form-control" placeholder="Comment here">
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-primary">Comment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>