<div class="container">
    <div class="col-sm-6">
        <h1>Sign In</h1>
        <form action="/login" method="post">
            <div class="container">
                <fieldset>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtUsername" class="col-form-label">
                                <span>Username:</span>
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" id="txtUsername" name="username" class="form-control" placeholder="Username" required>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtPassword" class="col-form-label">
                                <span>Password:</span>
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <input type="password" id="txtPassword" name="password" class="form-control" placeholder="Password" required>
                        </div>
                    </div>
                    
                    <div>
                        <input type="submit" class="button" value="Login"></input>
                        <a href="/signup" class="text-primary">Create Account</a>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>